<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>


  <p>
    Splurty was built by <a target="_blank" href="http://github.com/jmtran23">Jenn</a>. A new developer whose mission is continue expanding knowledge to solve problems. 
  </p>
  <br />
  <p>
    Starting this journey of learning how to code and this is the fruit of my very first project. Thanks to the UC Berkley Coding Program. 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>


  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Jennifer Tran</h2>
      <br />
      <p>
        Jennifer Tran is new to coding. She has however 9 years in the financial and banking field.
      </p>
    </div>
  </div>


</div>

<br class="clear" />
<br />
<br />
<br />
<br />